<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VoltVault">
        <activity
            android:name=".OrderSuccess"
            android:theme="@style/Base.Theme.VoltVault.ProductView"
            android:exported="false" />
        <activity
            android:name=".PlaceOrderActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.VoltVault.ProductView" />
        <activity
            android:name=".DarkThemeActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.VoltVault.ProductView" />
        <activity
            android:name=".ProductViewActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.VoltVault.ProductView" />
        <activity
            android:name=".BillingAddressManagerActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.VoltVault.Login" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.VoltVault.Login" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BasketReminderJob"
            android:permission="android.permission.BIND_JOB_SERVICE"></service>
    </application>

</manifest>